$primary-font: 'Josefin Sans';
$secondary-font: 'Aleo';

$primary-color-txt: #FFF;

%h1 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    text-transform: uppercase;
}

%sta {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 6.82px;
}

%plh {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2.8px;
}

%h4 {
    color: $primary-color-txt;
    font-family: $secondary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

%h3 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

%h2 {
    color: $primary-color-txt;
    font-family: $secondary-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    }

%h6 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; 
    letter-spacing: 2px;
}

%h5 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

%pheader {
    color: $primary-color-txt;
    text-align: center;
    font-family: $primary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2.8px;
}

%body2 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300; 
    line-height: 28px;
    letter-spacing: 1.6px;
}

%body1 {
    color: $primary-color-txt;
    font-family: $primary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2.8px;
}
