@import './fonts';
@import './variables';

.container {
    width: 1320px;
    margin: 0 auto;
}

* {
    scroll-behavior: smooth;
}

.background {
    background-image: url(../img/HeaderBackground.png);
    width: 100%;
    height: 862px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        .header_text {
            @extend %header_div;
            padding-top: 295px;
            padding-bottom: 48px;
            gap: 8px;
            
            h1 {
                @extend %h1;
            }
            p {
                @extend %sta;
            }
        }

        .header_search {
            @extend %header_div;
            padding-bottom: 211px;

                form {
                    position: relative;
                              
                    input[type=search] {
                    width: 647px;
                    height: 60px;

                    
                    &:focus {
                        border: 2px solid blue;
                        &:invalid {
                            border: 2px solid red;
                        }
                    }

                    &::placeholder {
                        @extend %plh;
                        padding-left: 36px;
                    }
                }

                button {
                    position: absolute;
                    background-color: $primary_blue;
                    top: 5px;
                    right: 5px;
                    border: 1px solid $primary_blue;
                    padding: 17px 24px;
                    display: flex;
                    align-items: center;

                    &:focus {
                        border: 2px solid blue;

                    }

                    &:hover {
                        background-color: #9eaef8;
                        border: 1px solid #9eaef8;
                    }

                    .txtbtn {
                        @extend %h4;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        padding-right: 8px;
                    }
                }
           
            }
            
        }

        .header_scroll {
            @extend %header_div;
             p {
                @extend %pheader;
                padding-bottom: 4px;
             }
             
             svg {
                fill: white;
                width: 14px;
                height: 16px;
                flex-shrink: 0;

                &:focus {
                    border: 2px solid blue;

                }
                &:hover {
                   fill: #9eaef8;
                }
             }
        }
    }
}

.background_menu {
    width: 100%;
    background-color: $primary_blue;
    
    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            @extend %h3;
        }

        .navigation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            
            ul {
                display: flex;             
                flex-direction: row;
                gap: 40px;

                a {
                    text-decoration: none;
                    @extend %h4;
                    &:hover {
                        color: #9eaef8;
                    }
                }
            }
           
        }

    }
    
}

.hamburger {
    display: none;
 }

.aside-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $primary_blue;
    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    gap: 50px;

    &:target {
        opacity: 1;
        pointer-events: all;
    }  

    .xsymbol {
        svg {
        width: 40px;
        height: 40px;
        fill: #F4F4F4;
        margin-top: 8px;
        margin-right: 8px;
        }
        display: flex;
        align-self: flex-end;
    }

    .logo_aside {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center; 
        p {
            @extend %h3;
        }
    }

    nav {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        a {
            text-decoration: none;
            color: $primary-color-txt;
            font-size: 14px;
            text-transform: uppercase;
            font-family: $secondary-font;
        }
    }
}

.why_background {
    background-image: url(../img/WhyBackground.png);
    width: 100%;
    height: 704px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        .why_info {
            display: flex;
            align-items: center;
            padding: 124px 112px 124px 0px;
            gap: 136px;

            .why_info_content {
                width: 648px;
                height: 324px;

                h2 {
                    @extend %h2;
                    padding-bottom: 24px
                }

                .why_info_txt {
                    @extend %body2;
                    display: flex;
                    flex-direction: column;
                    height: 168px;
                    justify-content: space-between;
                    padding-bottom: 32px;
                }

                a {
                    display: flex;
                    @extend %button;   
                    padding: 20px 32px;
                    width: max-content;
                }
            }

            .why_info_img {
                height: 456px;
                width: 424px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 16px;
  
                .img_wrapper1 {
                    img {
                        width: 350px;
                        height: 230px;
                    }
                
                }

                .img_wrapper2 {
                    display: flex;
                    align-self: flex-end;
                    img {
                        width: 350px;
                        height: 220px;
                    }
                
                }
            }
        }      
    }
}

.why_background2 {
    width: 100%;
    height: 306px;
    background-color: #333;
    .container {
        @extend %header_div;
        position: relative;

        .line {
            padding-top: 60px;
        }

        .icon_box {
            display: flex;
            gap: 25px;
            position: absolute;
            top: 107px;
            left: 0;

              .icon_box_item {
            width: 424px;
            height: 139px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 4px;

            svg {
                width: 64px;
                height: 64px;
                padding: 16px;
            } 

            p {
                @extend %h2;
            }
            }
        }
    }
}

.book_now_1 {
    height: 684px;
    background-image: url(../img/spain1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {
        position: relative;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 256px;
            width: 584px;
            padding: 44px 32px 44px 32px;
            background: rgba(35, 35, 35, 0.90);
            position: absolute;
            top: 220px;

            .p1 {
                @extend %h6;
            }

            .p2 {
                @extend %h5;
            }

            .p3 {
                @extend %body2;
            }

            a {
                display: flex;
                @extend %button;   
                padding: 20px 57px;
                width: max-content;
            }
        }
    }
}

.book_now_2 {
    height: 684px;
    background-image: url(../img/spain2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {
        position: relative;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 256px;
            width: 584px;
            padding: 44px 32px 44px 32px;
            background: rgba(35, 35, 35, 0.90);
            position: absolute;
            top: 220px;
            right: 0;

            .p1 {
                @extend %h6;
            }

            .p2 {
                @extend %h5;
            }

            .p3 {
                @extend %body2;
            }

            a {
                display: flex;
                @extend %button;   
                padding: 20px 57px;
                width: max-content;
            }
        }
    }
}

.rewiev {
    height: 680px;
    background-image: url(../img/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {

        h2 {
            @extend %h2;
            text-align: center;
            padding-top: 120px;
            padding-bottom: 60px;
        }

        .rewiev_info {
            display: flex;

            .img_wrapper_3 {
                width: 440px;
                height: 280px;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .rewiev_text {
                width: 765px;
                height: 184px;
                padding: 48px 60px 48px 60px;
                background-color: #333;

                .p4 {
                    @extend %h5;
                    padding-bottom: 16px;
                }
                .p5 {
                    @extend %body2;

                    svg {
                        width: 20px;
                        height: 20px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 268px;
    background-color: #000;

    .p6 {
        text-align: center;
        @extend %h3;
        padding-top: 80px;
        padding-bottom: 8px;
    }

    .p7 {
        @extend %body1;
        padding-bottom: 20px;
        text-align: center;
    }
}










@media screen and (max-width: 576px) {
    .container {
      width: 540px;
    }

    .hamburger {
        display: flex;
       }

}