@import './fonts';
@import './variables';

.container {
    max-width: 1320px;
    margin: 0 auto;
}

* {
    scroll-behavior: smooth;
}

.background {
    background-image: url(../img/HeaderBackground.png);
    width: 100%;
    height: 862px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.container {
  
    .header_text {
        @extend %header_div;
        padding-top: 295px;
        padding-bottom: 48px;
        gap: 8px;

        h1 {
            @extend %h1;
        }

        p {
            @extend %sta;
        }
    }

    .header_search {
        padding-bottom: 211px;

        form {
            position: relative;
            max-width: 611px;
            margin: 0 auto;

            input[type=search] {
                width: 100%;
                height: 60px;
                padding-left: 36px;
                box-sizing: border-box;

                &::placeholder {
                    @extend %plh;
                }

                &:focus {
                    border: 2px solid blue;

                    &:invalid {
                        border: 2px solid red;
                    }
                }
            }

            button {
                position: absolute;
                background-color: $primary_blue;
                top: 2px;
                right: 2px;
                border: 1px solid $primary_blue;
                padding: 17px 24px;
                display: flex;
                align-items: center;

                &:focus {
                    border: 2px solid blue;
                }

                &:hover {
                    background-color: #9eaef8;
                    border: 1px solid #9eaef8;
                }

                .txtbtn {
                    @extend %h4;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    padding-right: 8px;
                }
            }
        }
    }

    .header_scroll {
        @extend %header_div;

        .scroll {
            @extend %body1;
            padding-bottom: 4px;
        }

        .down {
            width: 14px;
            height: 16px;

            &:focus {
                @extend %focusoutline;
            }

            svg {
                fill: white;
                width: 14px;
                height: 16px;

                &:hover {
                    fill: #9eaef8;
                }
            }
        }
    }
}


.background_menu {
    width: 100%;
    background-color: $primary_blue;

    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            @extend %h3;
        }

        .navigation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;

            ul {
                display: flex;
                flex-direction: row;
                gap: 40px;


                a {
                    text-decoration: none;
                    @extend %h4;
                    position: relative;

                    &:hover {
                        &::after {
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%);
                            display: block;
                            content: '';
                            width: 80%;
                            height: 1px;
                            background: #9eaef8;
                        }
                    }

                    &:focus {
                        @extend %focusoutline;
                    }
                }
            }

        }
    }
}

.hamburger {
    display: none;
}

.aside-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $primary_blue;
    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    gap: 50px;

    &:target {
        opacity: 1;
        pointer-events: all;
    }

    .xsymbol {
        svg {
            width: 40px;
            height: 40px;
            fill: #F4F4F4;
            margin-top: 8px;
            margin-right: 8px;
        }

        display: flex;
        align-self: flex-end;
    }

    .logo_aside {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        p {
            @extend %h3;
        }
    }

    nav {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        a {
            text-decoration: none;
            color: $primary-color-txt;
            font-size: 14px;
            text-transform: uppercase;
            font-family: $secondary-font;
        }
    }
}

.why_background {
    background-image: url(../img/WhyBackground.png);
    width: 100%;
    min-height: 704px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        .why_info {
            display: flex;
            align-items: center;
            padding: 124px 112px 124px 0px;
            gap: 136px;
            

            .why_info_content {
                max-width: 648px;
                height: auto;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                h2 {
                    @extend %h2;
                    padding-bottom: 24px
                }

                .why_info_txt {
                    @extend %body2;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    justify-content: space-between;
                    padding-bottom: 32px;

                    p {
                        &:first-child {
                            padding-bottom: 18px;
                        }
                    }
                }

                a {
                    display: flex;
                    @extend %button;
                    padding: 20px 32px;
                    width: max-content;
                }
            }

            .why_info_img {
                height: 456px;
                width: 424px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 16px;

                .img_wrapper1 {
                    display: flex;
                    align-self: flex-start;
                    img {
                        width: 350px;
                        height: 230px;
                    }
                }

                .img_wrapper2 {
                    display: flex;
                    align-self: flex-end;

                    img {
                        width: 350px;
                        height: 220px;
                    }
                }
            }
        }
    }
}

.why_background2 {
    width: 100%;
    height: 306px;
    background-color: #333;

    .container {
        @extend %header_div;
        position: relative;

        .line {
            padding-top: 60px;
            width: 872px;
            height: 90px;
        }

        .icon_box {
            display: flex;
            justify-content: center;
            gap: 25px;
            position: absolute;
            top: 107px;

            .icon_box_item {
                width: 424px;
                height: 139px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 4px;

                svg {
                    width: 64px;
                    height: 64px;
                    padding: 16px;
                }

                p {
                    @extend %h2;
                }
            }
        }
    }
}

.book_now_1 {
    min-height: 684px;
    width: 100%;
    background-image: url(../img/spain1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        position: relative;

        .info {
            min-height: 256px;
            width: 584px;
            padding: 44px 32px 44px 32px;
            background: rgba(35, 35, 35, 0.90);
            position: absolute;
            top: 220px;

            .p1 {
                @extend %h6;
                padding-bottom: 16px;
            }

            .p2 {
                @extend %h5;
                padding-bottom: 16px;
            }

            .p3 {
                @extend %body2;
                padding-bottom: 24px;
            }

            a {
                display: inline-block;
                @extend %button;
                padding: 20px 57px;
                width: max-content;
            }
        }
    }
}

.book_now_2 {
    min-height: 684px;
    background-image: url(../img/spain2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    .container {
        position: relative;
        

        .info {
            min-height: 256px;
            width: 584px;
            padding: 44px 32px 44px 32px;
            background: rgba(35, 35, 35, 0.90);
            position: absolute;
            top: 220px;
            right: 0;
          

            .p1 {
                @extend %h6;
                padding-bottom: 16px;
            }

            .p2 {
                @extend %h5;
                padding-bottom: 16px;
            }

            .p3 {
                @extend %body2;
                padding-bottom: 24px;
            }

            a {
                display: inline-block;
                @extend %button;
                padding: 20px 57px;
                width: max-content;
            }
        }
    }
}

.rewiev {
    min-height: 680px;
    background-image: url(../img/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            @extend %h2;
            padding-top: 120px;
            padding-bottom: 60px;
        }

        .rewiev_info {
            display: flex;
            background-color: #333;
          
            .img_wrapper_3 {
                max-width: 440px;
                min-width: 320px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;                   
                }
            }

            .rewiev_text {
                box-sizing: border-box;
                max-width: 800px;
                min-height: 280px;
                padding: 48px 60px 48px 60px;
          
                .p4 {
                    @extend %h5;
                    padding-bottom: 16px;
                    
                }

                .p5 {
                    @extend %body2;
                 

                    svg {
                        width: 20px;
                        height: 20px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 268px;
    background-color: #000;

    .container {
        @extend %header_div;

        .p6 {
            @extend %h3;
            padding-top: 80px;
            padding-bottom: 8px;
        }

        .p7 {
            @extend %body1;
            padding-bottom: 20px;
        }

        .social {
            width: 235;
            height: 32;
            display: flex;
            justify-content: space-between;
            align-self: center;
            gap: 32px;

            a {
                &:focus {
                    @extend %focusoutline;
                }

                .svg1 {
                    @extend %svgstyle;
                    width: 20px;
                }
            }

            a {
                .svg2 {
                    @extend %svgstyle;
                }
            }

            a {
                .svg3 {
                    @extend %svgstyle;
                    width: 28px;
                }
            }

            a {
                .svg4 {
                    width: 36px;
                    height: 32px;
                    fill: white;

                    &:hover {
                        fill: #5373FD;
                    }
                }
            }

            a {
                .svg5 {
                    @extend %svgstyle;
                }
            }
        }
    }

}

@media screen and (max-width: 1360px) {
    .container {
        max-width: 1140px;
    }

    .background_menu {
        .container {
            .navigation {
                width: 60%;
            }
        }
    }

    .why_background {
        .container {
            .why_info {
                gap: 121px;
                padding: 124px 0;
                
                .why_info_content {
                max-width: 558px;
                }
            }          
        }
    }

    .why_background2 {
        .container {
            .line {
                padding-top: 81px;
                width: 752px;
                height: 69px;
            }

            .icon_box {
                gap: 24px;
                top: 121px;

                .icon_box_item {
                    width: 354px;
                }
            }
        }
    }

    .book_now_1 {
        min-height: 712px;

        .container {

            .info {
                width: 494px;
                height: 284px;
            }
        }
    }

    .book_now_2 {
        min-height: 712px;

        .container {

            .info {
                width: 494px;
                height: 284px;
            }
        }
    }

    .rewiev {
        min-height: 708px;

        .container {

            .rewiev_info {
                .img_wrapper_3 {
                    max-width: 380px;
                }

                .rewiev_text {
                    min-height: 212px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
    width: 960px;
    }

    .background_menu {
        .container {
            .navigation {
                width: 80%;
            }
        }
    }

    .why_background {
        .container {
            .why_info {
                gap: 24px;
                
                .why_info_content {
                max-width: 550px;
                }

                .why_info_img {
                    height: 456px;
                    width: 386px;
    
                    .img_wrapper1 {
                        display: flex;
                        align-self: flex-start;
                        img {
                            width: 350px;
                            height: 230px;
                        }
                    }
    
                    .img_wrapper2 {
                        display: flex;
                        align-self: flex-end;
    
                        img {
                            width: 350px;
                            height: 220px;
                        }
                    }
                }
            }          
        }
    }

    .why_background2 {
        .container {
            .line {
                padding-top: 87px;
                width: 632px;
                height: 57px;
            }

            .icon_box {
                gap: 0;
                top: 121px;

                .icon_box_item {
                    width: 318px;
                    height: auto;
                }
            }
        }
    }

    .book_now_1 {
        .container {

            .info {
                width: 486px;
            }
        }
    }

    .book_now_2 {
        .container {

            .info {
                width: 486px;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .background_menu {
        .container {
            flex-direction: column;
            gap: 32px;

            .logo {
                justify-content: center;
                width: 100%;
            }
            .navigation {
                width: 100%;
                justify-content: center;
            }
        }
    }

    .why_background {
        min-height: 659px;

        .container {
            .why_info {
                flex-direction: column-reverse;
                padding: 60px 0;
                gap: 32px;

                .why_info_content {
                    max-width: 720px;
                    align-items: center;

                    .why_info_txt {
                        text-align: center;
                    }
                }

                .why_info_img {
                    flex-direction: row;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    height: 219px;
                    width: 100%;
                    gap: 24px;
                  

                    .img_wrapper1 {
                        display: flex;
                        align-self: none;
                       
                        img {
                            width: 348px;
                            height: 219px;
                         
                        }
    
                    }
    
                    .img_wrapper2 {    
                        display: flex;
                        align-self: none;

                        img {
                            width: 348px;
                            height: 219px;
                        }
                    }
                }
            }
        }
    }

    .why_background2 {
        height: 658px;

        .container {
            position: unset;
            .line {
                display: none;
            }
            .icon_box {
                flex-direction: column;
                justify-content: space-between;
                padding: 60px 0;
                gap: 60px;
                position: unset;
             }
        }
    }

    .book_now_1 {
        min-height: 588px;
        .container {
            position: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            .info {
                width: 720px;
                padding: 44px 32px 44px 32px;
                background: rgba(35, 35, 35, 0.90);
                position: unset;
                margin: 120px 0;
                height: auto;
            }

        }
    }
    
    .book_now_2 {
        min-height: 588px;
        .container {
            position: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            .info {
                width: 720px;
                padding: 44px 32px 44px 32px;
                background: rgba(35, 35, 35, 0.90);
                position: unset;
                margin: 120px 0;
                height: auto;
            }

        }
    }

    .rewiev {
        padding-bottom: 120px;
        .container {
            h2 {
                padding-top: 60px;
            }

            .rewiev_info {
                flex-direction: column;
    
                .img_wrapper_3 {
                    max-width: 100%;
                    width: 100%;
                }
    
            }
        }

      
    }
}


@media screen and (max-width: 576px) {
    .container {
      max-width: 540px;
    }

    .hamburger {
        display: flex;
       }

       .background_menu {
        .container {
            flex-direction: row;
            gap: 0;

            .logo {
                justify-content: center;
                width: 50%;
                padding-left: 200px;
                // position: relative;
            }
            .navigation {
                justify-content: center;
                width: 50%;
                padding-left: 100px;
                ul {
                    display: none;
                }
            }
        }
    }   

    .why_background {
        min-height: 630px;
        .container {
            .why_info {
                gap: 37px;

                .why_info_content {
                    max-width: 540px;
                }

                .why_info_img {
                    height: 162px;
                    gap: 24px;

                    .img_wrapper1 {
                                           
                        img {
                            width: 258px;
                            height: 162px;
                        }
                    }
    
                    .img_wrapper2 {    
                        img {
                            width: 258px;
                            height: 162px;
                        }
                    }
                }
            }
        }

    }
}

// .light_theme {
//     &:has(#toggle_theme:checked) {
        
//         .footer {
//             background-color: rgb(153, 170, 248);
//             .container {
                       
//                 .p6 {
//                     color: #000
//                 }
        
//                 .p7 {
//                    color: #000;
//                 }
//             }
//         }
//     }
// }
